<h1><%= pluralize(@movies.size, "Movie") %></h1>

<ul>

<% @movies.each do |movie| %>

  <li>
    <%= movie.title %>
    <%= movie.rating %>
    <%= movie.total_gross %>
    <%= movie.description %>
    <%= movie.released_on %>
  </li>

<% end %>

</ul>
